<div class="row">
  <div class="col-8 offset-2">
    <div class="text-center">
      <h1>Редактирование профиля</h1>
    </div>
    <%= simple_form_for @user do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
    <p class="buffer-top py-2">
      <%= link_to 'Сменить пароль', edit_user_registration_path %>
    </p>
  </div>
</div>
