<div class="text-center">
  <h1><%= @user.name %></h1>

  <% @user.books.each do |book| %>
    <div>
      <p><%= book.title %></p>
      <p><%= book.description %></p>
      <p><%= book.author %></p>
      <p><%= book.year %></p>
      <p><%= link_to "Редактировать книгу", edit_book_path(book) %></p>
    </div>
  <% end %>

  <% if @user == current_user %>
    <p class="buffer-top"><%= link_to "Редактировать профиль", edit_user_path(@user),
                class: 'btn btn-primary' %></p>
  <% end %>
</div>
