<div class="text-center">
  <div class="m-1 p-1">
    <h1><%= @user.name %></h1>
  </div>

  <% @user.books.each do |book| %>
    <div class="row justify-content-center m-2 p-2">
      <div class="col-4">
        <p><%=image_tag book.image.url if book.image_url%></p>
      </div>
      <div class="col-4">
        <p><%= book.title %></p>
        <p><%= book.description %></p>
        <p><%= book.author %></p>
        <p><%= book.year %></p>
        <p><%= link_to "Редактировать книгу", edit_book_path(book),
                       class: 'btn btn-primary'%></p>
        <p><%= link_to "Удалить", book, data: {confirm: ('Are you sure?')},
                        method: :delete, class: "btn btn-danger" %></p>
      </div>
    </div>
  <% end %>

  <% if @user == current_user %>
    <p class="buffer-top"><%= link_to "Редактировать профиль", edit_user_path(@user),
                class: 'btn btn-primary' %></p>
    <p><%= link_to "Удалить", @user, data: {confirm: ('Are you sure?')},
                   method: :delete, class: "btn btn-danger" %></p>
  <% end %>
</div>
