<div class="text-center">
  <div>
    <h1><%= @book.title %></h1>
  </div>
  <div>
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p><%= @book.year %></p>
  </div>
  <div>
    <p>Добавил книгу <%= link_to @book.user.name, user_path(@book) %></p>
  </div>
  <% if current_user_can_edit?(@book) %>
    <div class="buffer-both">
      <%= link_to 'Изменить', edit_book_path(@book),
                  class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>