<div class="text-center">
  <div class="m-1 p-1">
    <h1><%= @book.title %></h1>
  </div>
  <div class="row justify-content-center m-2 p-2">
    <div class="col-4">
      <p><%=image_tag @book.image.url if @book.image_url %></p>
    </div>
    <div class="col-4">
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p><%= @book.year %></p>
  </div>
  </div>

  <div>
    <p>Добавил книгу <%= link_to @book.user.name, user_path(@book) %></p>
  </div>

  <div class="row justify-content-center m-2 p-2">
    <div class="col-8">
      <div class="buffer-top">
        <%= render partial: 'comments/form',
                   locals: {comment: @new_comment || @book.comments.build} %>
        <div class="buffer-both">
          <%= render partial: 'comments/comment',
                     collection: @book.comments.except(@new_comment) %>
        </div>
      </div>
    </div>
  </div>
</div>