<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container">
      <%= link_to "Библиотека", root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if user_signed_in? %>
            <li class="nav-link"><%= link_to 'Профиль', current_user %></li>
            <li class="nav-link"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-link"><%= link_to 'Войти', new_user_session_path %></li>
            <li class="nav-link"><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="col-lg-3">
      </div><!--/span-->
    </div><!--/row-->
  </div> <!-- /container -->
  </body>
</html>
